{% extends "base.html" %}
{% load static %}

{% block content %}
   {% comment %} <h1> abc  {{ hiretubers }}  </h1> {% endcomment %}
   
  <main class="dashboard">
 
    <div class="row">
      <div class="col-md-4 offset-md-4 ">
      {% include "messages.html" %}
    </div>

    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="profile-image" class="img-fluid w-100">
      <h1 class="text-center">
        Dashboard
      </h1>
    </div>

    <section class="container mt-5">
          <h2 class="text-center">Welcome to Dashboard</h2>
          <h4 class="text-center text-white-50">
            hi <span class='text-primary' >{{ user.username | upper }} </span> ! Hope you are having a good day
          </h4>
          <br>

          {% if user.is_tuber %}

              <div class="table-responsive- mt-3">

                <table class="table table-striped">
                      <caption style="caption-side:top"><h3>Received Hirerequests </h3></caption>
                      <thead>
                        <tr >
                          <th scope="col">#</th>
                          <th scope="col">Sender </th>
                          <!-- <th scope="col">Email</th> -->
                          <th scope="col">City</th>             
                          <th scope="col">Visit</th>
                          <th scope="col">Respond</th>
                          <th scope="col">Status</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                          {% for hirerequest  in received_hirerequests %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{hirerequest.first_name}}</td>
                                <!-- <td>{{hirerequest.email}}</td> -->
                                <td>{{hirerequest.city}}</td>
                                <td>
                                    <a href={% url 'received_hirerequest' hirerequest.id %}>  <div class="btn btn-accent">Go to Page </div> </a>
                                </td>
                                <td>
                                  <div class="btn btn-success " id='accept' onclick='accept( "{{hirerequest.id}}",event )' >Accept </div>
                                  <div class="btn btn-accent " id='reject'  onclick="reject( '{{hirerequest.id}}',event )" >Reject </div>
                                </td>
                                
                                <td>{{ hirerequest.status }}</td>
                                
                            </tr>
                          {% endfor %}
                      </tbody>
                </table>
              </div>
            
        {% endif %}
        
<br>

          <div class="table-responsive- mt-3">
            
            <table class="table table-striped">
              <caption style="caption-side:top"><h3>Sent Hirerequests </h3></caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tuber</th>
                  <th scope="col">City</th>
                  <th scope="col">Visit</th>
                  <th scope="col">Cancel</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                    {% for hirerequest  in sent_hirerequests %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{hirerequest.tuber_name}}</td>
                        <td>{{hirerequest.city}}</td>
                        
                        <td>
                          <a href={% url 'sent_hirerequest' hirerequest.id %} ><div class="btn btn-accent"> Go to Page </div></a>
                        </td>
                        <td>   
                              
                                    <div class="btn btn-accent cancel" id='cancel' onclick="cancel('{{ hirerequest.id }}',event)"> Cancel </div>
                              
                        </td>
                        <td>{{ hirerequest.status }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>


        
        
    </section>
  
  
  
  </main>

  
{% endblock %}

{% block js %}
  
  <script src= "{% static 'accounts/js/dashboard.js' %}"></script>
 
  
{% endblock js %}