
{% extends "base.html" %}
{% load static %}





{% block content %}
 {% load socialaccount %}
 {% comment %} <!-- <a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a> --> {% endcomment %}
  <main class="login container">
    {% include "messages.html" %}   

    <h1 class="text-center mt-5 mb-1 animate__animated animate__slideInDown">
      LOGIN
    </h1>

      
    <div class="row">
      <div class="col-md-6  ">
        <img src="{% static './assets/images/login-image.png' %}" class="img-fluid" alt="img">
      </div>
      {% comment %} <div class='col-md-5 offset-md-1 '> {% endcomment %}
          <form  method='POST' action="{% url 'login' %}" class="col-md-5 offset-md-1">
          {% csrf_token %}
            
            {% include "accounts/include/usertype.html" %}





            <div class="form-group  ">
              <input type="email" name='email' class="form-control" placeholder="email" required>
            </div>

            <div class="form-group">
              <input type="password" name='password' class="form-control" placeholder="Password" required>
            </div>


            <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">Signin</button>
            <div class="text-center">
              OR
            </div>
            
            <a href="{% provider_login_url 'facebook' method='oauth2' %}"  class="btn btn-primary form-btn w-100 mt-3">Facebook </a>
            
            <a href="{% provider_login_url 'google'  %}" class="btn btn-accent form-btn w-100 mt-3 mb-3 " > Google</a>

          </form>
      {% comment %} </div> {% endcomment %}
    </div>
  </main>
  
  

{% endblock content %}


{% block css %}     
  <link rel="stylesheet" href="{% static 'accounts/css/usertype.css' %}" > 
{% endblock css %}

{% block js %} 
  <script src= "{% static 'accounts/js/usertype.js' %}"></script> 
{% endblock js %}