
        <div class="usertypediv  text-center mb-md-3 ">
                  <h4  class="text-center mx-auto  text-warning">
                      USER TYPE
                  </h4>
                  <div class="btn-group usertype mx-auto" id='usertype' >
                      
                      <button type="button"  value="0" class="active btn m-3 px-md-5 px-4  rounded "  >Customer</button>
                      <button type='button'  value="1" class="btn m-3 px-md-5        px-4  rounded" >Tuber</button>
                      <input type="" hidden name='is_tuber'>     
                  </div>
        </div>